################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CudaBruteForce/CudaBruteForce/x64/Debug
/CudaBruteForce/.vs/CudaBruteForce/v17/ipch/AutoPCH
/CudaBruteForce/x64/Debug
/CudaBruteForce/.vs/CudaBruteForce/v17/Browse.VC.db
/CudaBruteForce/.vs/CudaBruteForce/v17/Browse.VC.db-shm
/CudaBruteForce/.vs/CudaBruteForce/v17/Browse.VC.db-wal
/CudaBruteForce/.vs/CudaBruteForce
